/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Common and utility */
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    scroll-behavior: smooth;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
.none{
    display: none;
}

img {
	height: 100%;
    
}
a {
    text-decoration: none;
}
.a-dec {
    text-decoration: underline;
}
.a-dec:hover{
    text-decoration: none;
}
/* Titoli */
h1 {
    font-size: 5rem;
    font-weight: 900;
}
h2 {
    padding-left: 0.3rem;
    font-size: 2.8rem;
    font-weight: 900;
    padding-bottom: 2rem;
}
h3 {
    font-size: 1.7rem;
    font-weight: 800;
    padding: 1rem 0;
}
h4 {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1.5rem 0;
}
/* Colomns */
.col-left {
    float: left;
}
.col-right {
    float: right;
}
.large-container {
    width: 99%;
    max-width: 1450px;
    margin: 0 auto;
    padding: 3rem 0;
}
.skinny-container {
    width: 97%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 8rem;
}
/* Buttoms */
[class*="btn"] {
    /* padding: 0.3rem 1rem; */
    display: inline-block;
    font-weight: 600;
    text-align: center;
}
[class$="btn-small"] {
    /* padding: 0.3rem 1rem; */
    
    padding: 0.15rem 1rem;
    

}
[class$="btn-big"] {
    /* padding: 0.3rem 1rem; */
    
    padding: 0.6rem 1.5rem;
    
}
/* Color  */
[class^="blue-btn"] {
    background-color: #2355FF;
    color: white;
}
[class^="white-btn"] {
    background-color: #FFF;
    color: black;
    border: 1px solid black;
}
/* extra */
[class^="white-bordless-btn"] {
    background-color: #FFF;
    color: black;
    width: 100%;
}
/* hover btn */
[class^="blue-btn"]:hover  {
    background-color: #44AAFF;
}
[class^="white-btn"]:hover {
    text-decoration: underline;
}
[class^="white-bordless-btn"]:hover ,  [class^="white-btn"]:hover {
    background-color: #EEE;
}
/* small line  */
.small-line {
    width: 15%;
    border-bottom: 1px solid #DDD ;
    margin: 3rem 0;
}
/* Colori */
/* Colori da spostare */
.l-olive{ 
    background-color: #A2D39B;
}
.azur {
    background-color: #2196F3;
}
.bedge {
    background-color: #61082b;
}
.red {
    background-color: red;
}
.d-red {
    background-color: #E00000;
}
.l-azur {
 
    background-color: #b4d0e7;
}
.d-azur {
    background-color: #00009F;
}
.yello-orange {
    background-color: #F0CD00;
}
.gray {
    background-color: #F7F7F7;
}

/* NAV  */
nav {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1.6rem;
    background-color: white;
    z-index: 10;
    font-size: 90%;
}
nav li, nav ul, nav img, nav a {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    /* margin: 0.3em auto; */
}
nav .col-left li,nav .col-left img {
    margin-right: 1.3rem;
    
}
nav .col-left ul li:last-child {
    margin-right: 0;
}
nav > .col-right > ul > li,nav > .col-right > img, nav > .col-right > a {
    margin-left: 1.3rem;
    
}
nav .col-right ul li:first-child {
    margin-left: 0;
}
nav li a , nav li {
    color: black;
    font-weight: 500 ;
    height: 100%;
    line-height: 60px;
    position: relative;
}
nav li::after  {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
}

nav >.col-left > ul > li:hover::after , nav >.col-right > ul > li:hover::after{

    border-bottom: 3px solid black;

}

/* Menu a tendina */
nav li:hover ul {
    background-color: #fDfDfD;
    position: absolute;
    left: -2rem;

}
nav li:hover ul {

    display: block;

}
nav li ul li {
    min-width: 100%;
    margin-left: 0;
    width: max-content;
    border-bottom: 1px solid #EFEFEF;
}
nav li ul li a {
    padding: 0.3rem 0.9rem 0.3rem 0.5rem;
    width: 100%;
}

nav li ul li:hover a{
    background-color: #F3F3F3;
    text-decoration: underline;
}
nav li ul li a:focus{
    background-color: #FAFAFA;
    
    text-decoration: none;
}

/* Jumbo */
.jumbo {
    margin-top: 60px;
    height: 750px;
}
.jumbo .clearfix {
    margin-top: 3rem;
}
.jumbo .col-left {
    width: 40%;
    padding-right: 14%;
    
    height: 100%;
}
.jumbo .col-left p {
    margin-bottom: 2rem;
}
.jumbo .col-left div {
    margin-top: 1.5rem;
}
.jumbo a i {
    margin-top: 2rem;
    font-weight: 700;
    font-size: 3.5rem;
    color: black;
}

/* Col Right  */
.jumbo .col-right {
    width: 60%;
}
.jumbo .col-right img {
    width: 100%;
    height: auto;
}
/* 
main {
    
} */
/* Radio button*/
.radio-b {
    position: relative;
    margin-right: 1rem;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.3rem;
}
.radio-b input {
    position: absolute;
    opacity: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #EEE;
    border-radius: 50%;
}
.radio-b:hover input ~ .checkmark {
    background-color: #CCC;
}
.radio-b input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.radio-b input:checked ~ .checkmark:after {
    display: block;
}
.radio-b .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
/* Tre colonne piano tariffario*/
.three-col {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.three-col .col-left, .three-col .col-right {
    width: 32%;
}
.three-col .col-left {
    margin-right: 2%;
}
.your-plane .three-col .col-left,.your-plane .three-col .col-right {
    /* min-height: 1080px; */
    height: 1080px;
    overflow-y: auto;
}
.your-plane .three-col .col-left,.your-plane .three-col .col-right, .single-col {
    
    border: 1px solid #DDD;

}
.your-plane .plane-type {
    text-align: center;
    vertical-align: middle;
    height: 2rem;
    border-bottom: 1px solid #DDD;
    font-size: 1.2rem;
    font-weight: 600;
}
.col-plane-content {
    padding: 1.5rem;
}
.subtitle {
    font-weight: 600;
    padding: 0.5rem 0;
}
.tax {
    color: #AAA;
    font-size: 0.9rem;
    margin-bottom: 3.5rem;
}
.vantage {

    font-size: 1rem;
    margin-bottom: 2rem;
}

.vantage li {
    margin-left: -15px;
    margin-bottom: 1rem; 

}
.col-plane-content .blue-btn-big {
    width: 100%;
    display: block;
    margin-bottom: 2rem;
}
.highlights {
    margin-top: 2rem;
}

.highlights li {
    list-style: none;
    margin-left: -15px;
    margin-bottom: 1rem; 
}
.highlights li i {
    color: #2196F3;

}
/* Colonna in basso singola */
.single-col {
    min-height: 270px;
}

.single-col .clearfix .col-left {
    width: 70%;
}
.single-col .clearfix .col-right {
    width: 30%;
}
.single-col p {
    padding-top: 2rem;
}
.single-col h3 {
    padding-top: 0;
}

/* Contatta un parten */
.cont-partner {
    margin-top: 4rem;
}
.cont-partner .col-left {
    width: 52%;
}
.cont-partner .col-right {
    width: 48%;
    padding: 2rem;
}
.cont-partner img, .operation_list img{
    width: 100%;
    height: auto;
}
.cont-partner p {
    line-height: 2em;
    margin-bottom: 2rem;
}
/* Lista operazioni  */
.operation_list {
    margin-top: 3rem;
}
.operation_list .clearfix {
    margin-bottom: 4rem;
}
.operation_list .col-left {
    width: calc(100%/3);
    padding-right: 3rem;
}
.operation_list .col-right {
    width: calc(100%/3);
    padding-left: 3rem;
}
/* 500000 teams  */
.users-team h2 {
    padding-right: 50%;
}
.quadrato {
    position: relative;
    width: 15vw;
    /* height: auto; */
    height: 15vw;
    cursor: pointer;
    position: relative;
    /* background-color: red; */
}
.quadrato::after{

    content: "";
    position: absolute;
    /* width: 100%;
    height: 100%; */
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    top: 0px;
    left: 0px;
    z-index: 1;
    box-sizing: content-box;
    
}

.quadrato:hover::after {

    border: 10px solid rgba(255, 255, 255, 0.5);

}
.quadrato img {
    width: 50%;
    height: auto;

    filter: invert(1);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.users-team .clearfix {
    margin-top: 3rem;
}
.users-team .col-left {
    width: 15vw;
}
/* colonna centrale */
.users-team .sponsor {
    padding: 6rem 4rem 0 4rem;
    height: 30vw;
    overflow-y: auto;
    width: calc(100% - 60vw);

}
.sponsor img {
    height: 70px;
    /* width: auto; */
}
.sponsor p {
    margin-top: 6rem;
}
/* Sezione celeste try-it */
.try-it .skinny-container{
    padding: 7rem 0;
}
.try-it .col-left {
    width: 55%;
}
.try-it .col-left h2{
    color: #32001B;
}
.try-it .col-right {
    width: 25%;
}

/* Domande */

.faq .clearfix {
    
    border-bottom: 1px solid #CCC;

}
.faq .clearfix:first-of-type {
    border-top: 1px solid #CCC;

}
.faq .col-left {
    width: 80%;
}
.faq .col-right {
    width: 2%;
}

.faq .clearfix:hover .none {
    display: block;
}
.faq .clearfix:hover .to-none {
    display: none;
}
.faq .none p {
    color: #999;
    padding-bottom: 2rem;
}
.faq {
    padding-bottom: 4rem;
}

/* Footer */
footer {
    background-color: #000;
    color: white;
}
footer .col-left {
    width: 20%;
}
footer li {
    list-style-type: none;
    line-height: 1.8rem;
}
footer a {
    color: inherit;
}
footer li a:hover {
    text-decoration: underline;
}
footer .large-container>a {
    box-sizing: content-box;
    border: 1px solid rgba(255, 255, 255, 0);
}
footer .large-container>a:focus {
    border: 1px solid white;
}