/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Common and utility */
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    scroll-behavior: smooth;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

img {
	height: 100%;
    
}
a {
    text-decoration: none;
}
.a-dec {
    text-decoration: underline;
}
.a-dec:hover{
    text-decoration: none;
}
/* Titoli */
h1 {
    font-size: 5rem;
    font-weight: 900;
}
h2 {
    padding-left: 0.3rem;
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 2rem;
}
h3 {
    font-size: 2rem;
    font-weight: 800;
    padding: 1rem 0;
}
/* Colomns */
.col-left {
    float: left;
}
.col-right {
    float: right;
}
.large-container {
    width: 99%;
    max-width: 1450px;
    margin: 0 auto;
    padding: 3rem 0;
}
.skinny-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 8rem;
}
/* Buttoms */
[class*="btn"] {
    /* padding: 0.3rem 1rem; */
    
    font-weight: 600;

}
[class$="btn-small"] {
    /* padding: 0.3rem 1rem; */
    
    padding: 0.15rem 1.3rem;

}
[class$="btn-big"] {
    /* padding: 0.3rem 1rem; */
    
    padding: 0.6rem 3rem;

}
/* Color  */
[class^="blue-btn"] {
    background-color: #2355FF;
    color: white;
}
/* hover btn */
[class^="blue-btn"]:hover {
    background-color: #44AAFF;
}
/* small line  */
.small-line {
    width: 15%;
    border-bottom: 1px solid #DDD ;
    margin: 3rem 0;
}
/* NAV  */
nav {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1.7rem;
    background-color: white;
    z-index: 10;
}
nav li, nav ul, nav img, nav a {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    /* margin: 0.3em auto; */
}
nav .col-left li,nav .col-left img {
    margin-right: 1.5rem;
    
}
nav .col-left ul li:last-child {
    margin-right: 0;
}
nav .col-right li,nav .col-right img, .col-right > a {
    margin-left: 1.5rem;
    
}
nav .col-right ul li:first-child {
    margin-left: 0;
}
nav li a , nav ul {
    color: black;
    font-weight: 500 ;
    height: 100%;
    line-height: 60px;
    position: relative;
}
nav li a::after  {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
}

nav li a:hover::after {

    border-bottom: 3px solid black;

}
/* Jumbo */
.jumbo {
    margin-top: 60px;
    background-color: #b4d0e7;
    height: 750px;
}
.jumbo .clearfix {
    margin-top: 3rem;
}
.jumbo .col-left {
    width: 40%;
    padding-right: 14%;
    
    height: 100%;
}
.jumbo .col-left p {
    margin-bottom: 2rem;
}
.jumbo .col-left div {
    margin-top: 1.5rem;
}
.jumbo a i {
    margin-top: 2rem;
    font-weight: 700;
    font-size: 3.5rem;
    color: black;
}

/* Col Right  */
.jumbo .col-right {
    width: 60%;
}
.jumbo .col-right img {
    width: 100%;
    height: auto;
}
/* 
main {
    
} */
/* Radio button*/
.radio-b {
    position: relative;
    margin-right: 1rem;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.3rem;
}
.radio-b input {
    position: absolute;
    opacity: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #EEE;
    border-radius: 50%;
}
.radio-b:hover input ~ .checkmark {
    background-color: #CCC;
}
.radio-b input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.radio-b input:checked ~ .checkmark:after {
    display: block;
}
.radio-b .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
/* Tre colonne piano tariffario*/
.three-col {
    padding-top: 2rem;
}
.three-col .col-left, .three-col .col-right {
    width: 30%;
}
.three-col .col-left {
    margin-right: 5%;
}
.your-plane .three-col .col-left,.your-plane .three-col .col-right {
    border: 1px solid #DDD;
    height: 1080px;
}
.your-plane .plane-type {
    text-align: center;
    vertical-align: middle;
    height: 2rem;
    border-bottom: 1px solid #DDD;
    font-size: 1.2rem;
    font-weight: 600;
}
.col-plane-content {
    padding: 1.5rem;
}
.subtitle {
    font-weight: 600;
    padding: 0.5rem 0;
}
.tax {
    color: #AAA;
    margin-bottom: 4rem;
}
.vantage {

    font-size: 1rem;
    margin-bottom: 2rem;
}

.vantage li{
    margin-left: -15px;
    margin-bottom: 1rem; 

}
.col-plane-content .blue-btn-big{
    width: 100%;
    display: block;
    margin-bottom: 2rem;
}
.highlights{
    margin-top: 2rem;
}

.highlights li{
    list-style: none;
    margin-left: -15px;
    margin-bottom: 1rem; 
}
.highlights li i{
    color: #2196F3;

}
